<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

        <table>
                <thead>
                    <tr>
                        <th>
                            Наименование                                
                        </th>
                        <th>
                            Количество                                
                        </th>
                        <th>
                            Цена                                
                        </th>
                        <th>                                                            
                        </th>
                        <th>                                                                    
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products">
                        <td>
                            {{ product.Name }}
                        </td>
                        <td>
                            {{ product.Count }}
                        </td>
                        <td>
                            {{ product.Price }}
                        </td>
                        <td>
                            <a class="link" href="#" @click="edit()">Редактировать</a>
                        </td>
                        <td>
                            <a class="link" href="#" @click="open()">Удалить</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Итого</td>
                        <td>{{ sum }}</td>
                    </tr>
                </tbody>
            </table>

        
<script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
  
            <div class="modal-header">
              <slot name="header">
                default header
              </slot>
            </div>
  
            <div class="modal-body">
              <slot name="body">
                default body
              </slot>
            </div>
  
            <div class="modal-footer">
              <slot name="footer">
                default footer
                <button class="modal-default-button" @click="$emit('close')">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>
  
  <!-- app -->
  <div id="app">
    <button id="show-modal" @click="showModal = true">Show Modal</button>
    <!-- use the modal component, pass in the prop -->
    <modal v-if="showModal" @close="showModal = false">

        

    
    <ul>
        <li v-for="message in messages">{{ message }}</li>
    </ul>
    <message @message-saved="handleMessage"></message>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="main.js"></script>
</body>
</html>